# Python / Virtual Environments
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude Python source scripts and environment tools
*.py
misc/config.json
misc/requirements.txt
misc/sampling_example_images/
# (Note: misc/output/ is tracked for README images)

# OS & IDE Trash
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak
*.tmp
*.log

# Note: Shaders (*.fx, *.fxh) and folder 'misc/output' are tracked by default.

